* {
	margin: 0;
	padding: 0;
}

* body {
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	background: url(img/white.png) repeat fixed center;
	background-size: 500px;
}

* body header {
	padding: 0.5%;
	text-align: center;
	background-color: #b5d3f1;
}

* body header .fa-house, * body header .fa-train, * body header .fa-user
	{
	color: #001f58;
	transition: all 0.3s ease;
}

* body header .fa-house:hover, * body header .fa-train:hover, * body header .fa-user:hover
	{
	color: #2a67a6;
}

* body main {
	padding: 20px;
}

* body main section {
	background-color: #b5d3f1;
	border-radius: 30px;
	box-shadow: 3px 3px 3px 1px rgba(0, 49, 141, 0.5);
	padding: 20px;
	margin-bottom: 20px;
}

* body main #questions {
	max-width: 75%;
	margin-left: auto;
	margin-right: auto;
}

* body main #questions .questions h2 {
	font-weight: 800;
}

* body main #questions .questions .container img {
	width: 40%;
	padding-bottom: 15px;
}

* body main #questions .questions .container h5 {
	font-weight: 700;
	font-style: italic;
}

* body main #questions .questions .container p {
	font-weight: 600;
}

* body main #questions .questions .container span {
	font-style: italic;
}

* body main #questions .questions {
	text-align: center;
}

* body main #questions .questions h2 {
	margin-bottom: 3%;
}

* body main #questions .questions .container {
	text-align: center;
}

* body main #questions .questions .container li {
	list-style: none;
}

* body main .formulario {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px;
}

* body main .formulario label {
	margin-bottom: 5px;
	font-weight: 700;
}

* body main .formulario select, * body main .formulario input {
	margin-bottom: 15px;
	padding: 5px;
	border-radius: 5px;
	border: none;
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
}

* body main .formulario button {
	padding: 10px;
	border-radius: 5px;
	border: none;
	background-color: #2a67a6;
	color: #fff;
	cursor: pointer;
	transition: background-color 0.2s ease;
}

* body main .formulario button:hover {
	background-color: #73a5d7;
}

* body main #galeria {
	max-width: 75%;
	margin-left: auto;
	margin-right: auto;
}

* body main #galeria img {
	border-radius: 10px;
}

* body main #galeria .col-6 .row {
	align-items: stretch;
}

* body main #galeria .col-6 .row .col-sm-6.img1 {
	display: flex;
	justify-content: end;
}

* body main #galeria .col-6 .row .col-sm-6.img2 {
	display: flex;
	justify-content: start;
}

* body main #galeria .col-6 .row .col-sm-6 img {
	width: 70%;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
}

* body main #galeria .col-6 .row .col-sm-6 .textoImg {
	position: absolute;
	transform: translate(-43%, 50%);
	color: #fff;
}

* body main #galeria .col-6 .row .col-sm-6 .textoImg1 {
	position: absolute;
	transform: translate(60%, 50%);
	color: #fff;
}

* body main #galeria .col-6 .row .col-sm-6 .textoImg2 {
	position: absolute;
	transform: translate(-78%, 50%);
	color: #fff;
}

* body main #galeria .col-6 .row .col-sm-6 .textoImg3 {
	position: absolute;
	transform: translate(58%, 50%);
	color: #fff;
}

* body main .railway {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 30px;
}

* body main .railway h2 {
	margin-bottom: 3%;
	font-weight: 800;
}

* body main .railway .container {
	text-align: center;
}

* body main .railway .container li {
	list-style: none;
}

* body main .railway .container li h5 {
	font-weight: 700;
	font-style: italic;
}

* body main .railway .container li img {
	width: 20%;
	margin-bottom: 5%;
}

* body footer {
	background-color: #001f58;
	color: #fff;
	display: flex;
	justify-content: center;
	padding-top: 5px;
}

/*# sourceMappingURL=home_page.css.map */