* {
	margin: 0;
	padding: 0;
}

* body {
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	background: url(/img/white.png) repeat fixed center;
	background-size: 500px;
}

* body header {
	padding: 0.5%;
	text-align: center;
	background-color: #b5d3f1;
}

* body header .fa-house, * body header .fa-train, * body header .fa-user
	{
	color: #001f58;
	transition: all 0.3s ease;
}

* body header .fa-house:hover, * body header .fa-train:hover, * body header .fa-user:hover
	{
	color: #2a67a6;
}

* body aside {
	width: 8%;
	background: #001f58;
	position: absolute;
	height: 100vw;
	overflow: hidden;
}

* body aside .menu {
	width: 100%;
	display: flex;
	flex-direction: column;
}

* body aside .menu a {
	text-decoration: none;
	color: #fff;
	align-self: center;
	display: flex;
	flex-direction: column;
	padding-top: 30px;
	padding: 10% 25%;
	margin-top: 5px;
	margin-bottom: 5px;
}

* body aside .menu a i {
	font-size: 30px;
	align-self: center;
}

* body aside .menu a:hover {
	background: #b5d3f1;
	color: #001f58;
	border-radius: 5px;
}

* body aside .menu .activo {
	background: #2a67a6;
	border-radius: 5px;
	padding: 10% 30%;
}

* body aside .menu #botonUser {
	margin-top:30%;
}

* body aside .menu .activo:hover {
	background: #b5d3f1;
	color: #001f58;
}

* body .contenido {
	margin-left: 8%;
	display: flex;
	align-items: center;
	flex-direction: column;
}

* body .contenido .user {
	background: #b5d3f1;
	box-shadow: 3px 3px 3px 1px rgba(0, 49, 141, 0.5);
	border-radius: 10px;
	margin: 2%;
	width: 50%;
	padding: 3% 3%;
}

* body .contenido .user .titulo p {
	font-weight: 700;
	font-size: 20px;
	background-color: #001f58;
	color: #fff;
	border-radius: 10px;
	text-align: center;
}

* body .contenido .user .ejemplo p {
	font-size: 17px;
}

* body .contenido .user #primerafila {
	text-align: center;
}

* body .contenido .user #segundafila {
	text-align: center;
}

* body .contenido .user #tercerafila {
	text-align: center;
}

* body .contenido .user #cuartafila {
	text-align: center;
}

* body .contenido .user #quintafila {
	display: flex;
	justify-content: center;
}

* body .contenido .user #quintafila button {
	padding: 10px;
	border-radius: 5px;
	width: 25%;
	border: none;
	background-color: #2a67a6;
	color: #fff;
	cursor: pointer;
	transition: background-color 0.2s ease;
}

* body .contenido .user #quintafila button:hover {
	background-color: #73a5d7;
}

* body .contenido .formulariodatos form{
	display:flex;
	flex-direction: column;
}

* body .contenido .formulariodatos {
	background: #b5d3f1;
	box-shadow: 3px 3px 3px 1px rgba(0, 49, 141, 0.5);
	border-radius: 10px;
	margin-top: 2%;
	width: 50%;
	padding: 3%;
	display: flex;
	flex-direction: column;
}

* body .contenido .formulariodatos .form-floating {
	padding-bottom: 20px;
}

* body .contenido .formulariodatos .form-floating input {
	border-radius: 15px;
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
	padding-bottom: 2%;
}

* body .contenido .formulariodatos button {
	border-radius: 5px;
	width: 20%;
	background-color: #2a67a6;
	border: none;
	transition: background-color 0.2s ease;
	align-self: center;
}

* body .contenido .formulariodatos button:hover {
	background-color: #73a5d7;
}

* body .contenido .tickettren {
	margin-top: 2%;
	width: 56%;
	padding: 3% 3%;
}

* body .contenido .tickettren #carta {
	background: #b5d3f1;
	box-shadow: 3px 3px 3px 1px rgba(0, 49, 141, 0.5);
	border-radius: 10px;
	padding: 10px;
	margin-bottom:20px;
}

* body .contenido .tickettren #carta #numero-tren p {
	background: #001f58;
	color: #fff;
	width: 20%;
	border-radius: 10px;
	margin-left: 8px;
	padding: 10px;
	text-align: center;
	font-weight: 600;
}

* body .contenido .tickettren #carta #iconos {
	display: flex;
	justify-content: left;
}

* body .contenido .tickettren #carta #iconos i {
	padding-left: 10px;
	font-size: 30px;
	color: #001f58;
}

* body .contenido .tickettren #carta #text-card p {
	padding-left: 15px;
	font-weight: 500;
	font-size: 20px;
}

* body .contenido .tickettren #carta #hora-card p {
	padding-left: 15px;
	font-weight: 400;
}

* body .contenido .tickettren #carta #hora p {
	text-align: center;
	margin-bottom: -2%;
}

* body .contenido .tickettren #carta #linea {
	margin-top: -1rem;
	display: flex;
	align-items: center;
}

* body .contenido .tickettren #carta #linea i {
	color: #001f58;
	font-size: 15px;
}

* body .contenido .tickettren #carta .divider {
	flex-grow: 1;
	border-bottom: 1px solid rgba(0, 31, 88, 0.5);
	margin: 5px;
}

* body .contenido .tickettren #carta .cancel {
	padding-left: 30px;
	font-size: 12px;
}

* body .contenido .tickettren #carta #buy {
	border-left: 1px solid rgba(0, 31, 88, 0.5);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

* body .contenido .tickettren #carta #buy p {
	font-size: 35px;
	text-align: center;
	color: #001f58;
}

* body .contenido .tickettren #carta #buy button {
	padding: 10px;
	border-radius: 5px;
	border: none;
	background-color: #2a67a6;
	color: #fff;
	cursor: pointer;
	transition: background-color 0.2s ease;
}

* body .contenido .tickettren #carta #buy button:hover {
	background-color: #73a5d7;
}

* body .contenido .eliminarcuenta {
	background: #b5d3f1;
	box-shadow: 3px 3px 3px 1px rgba(0, 49, 141, 0.5);
	border-radius: 10px;
	margin: 2%;
	width: 50%;
	padding: 3% 3%;
}

* body .contenido .eliminarcuenta .signoff {
	margin-bottom: 2%;
}

* body .contenido .eliminarcuenta .signoff button {
	border-radius: 10px;
	width: 100%;
	padding: 3%;
	background-color: #2a67a6;
	color: #fff;
	border: none;
	transition: background-color 0.2s ease;
	align-self: center;
}

* body .contenido .eliminarcuenta .signoff button:hover {
	background-color: #73a5d7;
}

* body .contenido .eliminarcuenta .delete button {
	border-radius: 10px;
	width: 100%;
	padding: 3%;
	background-color: #a62a2a;
	color: #fff;
	border: none;
	transition: background-color 0.2s ease;
	align-self: center;
}

* body .contenido .eliminarcuenta .delete button:hover {
	background-color: #d77373;
}

* body footer {
	background-color: #001f58;
	color: #fff;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	margin-left: 5.5%;
	padding-top: 5px;
	display: flex;
	justify-content: center;
}