* {
	margin: 0;
	padding: 0;
}

* body {
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	background: url(/img/white.png) repeat fixed center;
	background-size: 500px;
}

* body header {
	padding: 0.5%;
	text-align: center;
	background-color: #b5d3f1;
}

.fa-house, .fa-train, .fa-user {
	color: #001f58;
	transition: all 0.3s ease;
}

.fa-house:hover, .fa-train:hover, .fa-user:hover {
	color: #2a67a6;
}

aside {
	height: 91%;
	width: 10%;
	position: absolute;
	left: 0;
	overflow: auto;
	background-color: #001f58;
}

.menu {
	display: flex;
	flex-direction: column;
	padding: 10%;
}

.menu .inactivo {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-decoration: none;
	color: #fff;
	padding: 20%;
	font-size: 30px;
	margin-top: 2%;
	margin-bottom: 2%;
}

.menu a:hover {
	background: #b5d3f1;
	color: #001f58;
	border-radius: 5px;
}

.menu .activo {
	font-size: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-decoration: none;
	color: #fff;
	background: #2a67a6;
	border-radius: 5px;
	padding: 10% 30%;
	margin-top: 50px;
}

.contenido {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.user {
	background: #b5d3f1;
	box-shadow: 3px 3px 3px 1px rgba(0, 49, 141, 0.5);
	border-radius: 10px;
	margin: 2%;
	width: 50%;
	padding: 3% 3%;
}

.titulo p {
	font-weight: 700;
	font-size: 20px;
	background-color: #001f58;
	color: #fff;
	border-radius: 10px;
	text-align: center;
}

.ejemplo {
	font-size: 17px;
}

#fila {
	text-align: center;
}

#fila5 {
	display: flex;
	justify-content: center;
}

#fila5 button {
	padding: 10px;
	border-radius: 5px;
	width: 25%;
	border: none;
	background-color: #2a67a6;
	color: #fff;
	cursor: pointer;
	transition: background-color 0.2s ease;
}

#fila5 button:hover {
	background-color: #73a5d7;
}

.formulariodatos {
	background: #b5d3f1;
	box-shadow: 3px 3px 3px 1px rgba(0, 49, 141, 0.5);
	border-radius: 10px;
	margin: 2%;
	width: 50%;
	padding: 3%;
	display: none;
	flex-direction: column;
}

.formulariodatos .form-floating {
	padding-bottom: 20px;
}

.formulariodatos .form-floating input {
	border-radius: 15px;
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
	padding-bottom: 2%;
}

.formulariodatos button {
	border-radius: 10px;
	width: 20%;
	background-color: #2a67a6;
	border: none;
	transition: background-color 0.2s ease;
	align-self: center;
}

.formulariodatos button:hover {
	background-color: #73a5d7;
}

footer {
	background-color: #001f58;
	color: #fff;
	display: flex;
	justify-content: center;
	bottom: 0;
	position: absolute;
	height: 5%;
	width: 100%;
	margin-bottom: -1%;
	align-items: center;
}