<!DOCTYPE html>
<html lang="es">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/admin.css">
<link rel="shorcut icon" type="image/x-icon" href="img/favicon.ico">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
	rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="js/admin.js"></script>
<script src="https://kit.fontawesome.com/4fe01f8eed.js"
	crossorigin="anonymous"></script>
<script defer
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
	crossorigin="anonymous"></script>
<title>Admin Page</title>
</head>

<body>
	<header>
		<div
			class="d-flex flex-wrap align-items-center justify-content-between">
			<img class="logo" src="img/RailwayGranada_logo2.png" alt=""
				width="10%">
			<ul
				class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
				<li><a class="nav-link text-black" id="botonTren"
					onClick="mostrarTrenes()"> <i
						class="fa-solid fa-train d-block mx-auto mb-1.5 fa-2x"></i> Trains
				</a></li>
				<li><a class="nav-link text-black" id="botonEstacion"
					onClick="mostrarEstaciones()"> <i
						class="fa-solid fa-building d-block mx-auto mb-1.5 fa-2x"></i>
						Stations
				</a></li>
				<li><a class="nav-link text-black" id="botonHorario"
					onClick="mostrarHorarios()"> <i
						class="fa-solid fa-clock d-block mx-auto mb-1.5 fa-2x"></i>
						Schedule
				</a></li>
				<li><a class="nav-link text-black" id="botonUsuario"
					onClick="mostrarUsuarios()"> <i
						class="fa-solid fa-user d-block mx-auto mb-1.5 fa-2x"></i> Users
				</a></li>
				<li><a href="/" class="nav-link text-black" id="botonSalir">
						<form method="post" th:action="@{/cerrarSesionAdmin}">
							<button type="submit" id="signoffBtn" class="botonSalir">
								<i class="fa-solid fa-power-off d-block mx-auto mb-1.5 fa-2x"></i>Exit
							</button>
						</form>
				</a></li>
			</ul>
		</div>
	</header>
	<main>
		<section class="tablas" id="trenes">
			<div class="container">
				<div class="row header" id="titulo">
					<div class="col-4">Train Number</div>
					<div class="col-4">Capacity</div>
					<div class="col-4">
						<button type="submit" class="addButton" id="addTren"
							onClick="mostrarAddTrenes()">Add</button>
						remove or modify
					</div>
				</div>
				<div class="row datos" id="datos" th:each="tren : ${trenes}">
					<div class="col-4" data-title="Train Number">
						<a class="pasajeros" th:text="'Nº'+${tren.numero_tren}"></a>
					</div>
					<div class="col-4" data-title="Capacity">
						<p th:text="${tren.asientos}"></p>
					</div>
					<div class="col-4 botones" data-title="Remove or modify">
						<div class="remove">
							<button type="submit" id="removeTren"
								th:onclick="'confirmarEliminacionTren('+${tren.numero_tren}+')'">Remove</button>
						</div>
						<div class="modify">
							<button type="submit" id="modifyTren"
								th:onclick="'mostrarModifyTrenes('+${tren.numero_tren}+')'">Modify</button>
						</div>
					</div>
					<span class="divider"></span>
				</div>
			</div>
		</section>
		<section class="tablas" id="estaciones">
			<div class="container">
				<div class="row header" id="titulo">
					<div class="col-6">Station</div>
					<div class="col-6">
						<button type="submit" class="addButton" id="addEstacion"
							onClick="mostrarAddEstaciones()">Add</button>
						remove or modify
					</div>
				</div>
				<div class="row datos" id="datos" th:each="estacion : ${estaciones}">
					<div class="col-6">
						<p class="estaciones" th:text="${estacion.nombre}"></p>
					</div>
					<div class="col-6 botones" data-title="Remove or modify">
						<div class="remove">
							<button type="submit" id="removeEstacion"
								th:onclick="'confirmarEliminacionEstacion('+${estacion.ID_estacion}+')'">Remove</button>
						</div>
						<div class="modify">
							<button type="submit" id="modifyEstacion"
								th:onclick="'mostrarModifyEstaciones('+${estacion.ID_estacion}+')'">Modify</button>
						</div>
					</div>
					<span class="divider"></span>
				</div>
			</div>
		</section>
		<section class="tablas" id="horarios">
			<div class="container">
				<div class="row header" id="titulo">
					<div class="col-2">Schedule</div>
					<div class="col-2">Train Nº</div>
					<div class="col-2">Departure Station</div>
					<div class="col-2">Arrival Station</div>
					<div class="col-4">
						<button type="submit" class="addButton" id="addHorario"
							onClick="mostrarAddHorarios()">Add</button>
						remove or modify
					</div>
				</div>
				<div class="row datos" id="datos" th:each="horario : ${horarios}">
					<div class="col-2">
						<p class="horarios"
							th:text="'Departure: '+${horario.salida}+' | Arrival: '+${horario.llegada}"></p>
					</div>
					<div class="col-2">
						<p class="horarios" th:text="'Nº'+ ${horario.tren}"></p>
					</div>
					<div class="col-2">
						<p class="horarios"
							th:text="${horario.getEstacion_salida().getNombre()}"></p>
					</div>
					<div class="col-2">
						<p class="horarios"
							th:text="${horario.getEstacion_llegada().getNombre()}"></p>
					</div>
					<div class="col-4 botones" data-title="Remove or modify">
						<div class="remove">
							<button type="submit" id="removeHorario"
								th:onclick="'confirmarEliminacionHorario('+${horario.ID_horario}+')'">Remove</button>
						</div>
						<div class="modify">
							<button type="submit" id="modifyHorario"
								th:onclick="'mostrarModifyHorarios('+${horario.ID_horario}+')'">Modify</button>
						</div>
					</div>
					<span class="divider"></span>
				</div>
			</div>
		</section>
		<section class="tablas" id="usuarios">
			<div class="container">
				<div class="row header" id="titulo">
					<div class="col-3">Name</div>
					<div class="col-3">Last Name</div>
					<div class="col-3">DNA</div>
					<div class="col-3">Remove</div>
				</div>
				<div class="row datos" id="datos" th:each="pasajero : ${pasajeros}">
					<div class="col-3">
						<p class="username" th:text="${pasajero.nombre}"></p>
					</div>
					<div class="col-3">
						<p class="userlastname" th:text="${pasajero.apellidos}"></p>
					</div>
					<div class="col-3">
						<p class="userDna" th:text="${pasajero.dni}"></p>
					</div>
					<div class="col-3 botones" data-title="Remove">
						<div class="remove">
							<button type="submit" id="removePasajero"
								th:data-parameter1="${pasajero.dni}"
								th:onclick="confirmarEliminacionPasajero(this.getAttribute('data-parameter1'))">Remove</button>
						</div>
					</div>
					<span class="divider"></span>
				</div>
			</div>
		</section>
		<section class="tablas" id="addTrenes">
			<div class="container">
				<div class="row datos">
					<form name="addTrenes" method="post" th:action="@{/addTrenes}">
						<h1>Add Train</h1>
						<div class="form-floating">
							<input type="number" class="form-control" id="asientos"
								name="asientos" placeholder="50" required> <label
								for="floatingInput">Number of Seats</label>
						</div>
						<br>
						<button class="w-50 btn btn-lg btn-primary" type="submit"
							id="addTrenButton">Send</button>
					</form>
				</div>
			</div>
		</section>
		<section class="tablas" id="modifyTrenes">
			<div class="container">
				<div class="row datos">
					<form name="modifyTrenes" method="post"
						th:action="@{/modifyTrenes}">
						<h1>Modify Train</h1>
						<div class="form-floating">
							<input type="hidden" value="" id="idModifyTren"
								name="idModifyTren"> <input type="number"
								class="form-control" id="asientos" name="asientos"
								placeholder="50" required> <label for="floatingInput">Number
								of Seats</label>
						</div>
						<br>
						<button class="w-50 btn btn-lg btn-primary" type="submit"
							id="modifyTrenButton">Edit</button>
					</form>
				</div>
			</div>
		</section>
		<section class="tablas" id="addEstaciones">
			<div class="container">
				<div class="row datos">
					<form name="addEstaciones" method="post"
						th:action="@{/addEstaciones}">
						<h1>Add Station</h1>
						<div class="form-floating">
							<input type="text" class="form-control" id="nombreEstacion"
								name="nombreEstacion" placeholder="50" required> <label
								for="floatingInput">Name of Station</label>
						</div>
						<br>
						<button class="w-50 btn btn-lg btn-primary" type="submit"
							id="addEstacionButton">Send</button>
					</form>
				</div>
			</div>
		</section>
		<section class="tablas" id="modifyEstaciones">
			<div class="container">
				<div class="row datos">
					<form name="modifyEstaciones" method="post"
						th:action="@{/modifyEstaciones}">
						<h1>Modify Station</h1>
						<div class="form-floating">
							<input type="hidden" value="" id="idModifyEstacion"
								name="idModifyEstacion"> <input type="text"
								class="form-control" id="nombreEstacion" name="nombreEstacion"
								placeholder="50" required> <label for="floatingInput">Name
								of Station</label>
						</div>
						<br>
						<button class="w-50 btn btn-lg btn-primary" type="submit"
							id="modifyEstacionButton">Edit</button>
					</form>
				</div>
			</div>
		</section>
		<section class="tablas" id="addHorarios">
			<div class="container">
				<div class="row datos">
					<form name="addHorarios" method="post" th:action="@{/addHorarios}">
						<h1>Add Schedule</h1>
						<div class="form-floating">
							<input type="number" class="form-control" id="salida"
								name="salida" placeholder="20.00" required> <label
								for="floatingInput">Departure time</label>
						</div>
						<div class="form-floating">
							<input type="number" class="form-control" id="llegada"
								name="llegada" placeholder="21.00" required> <label
								for="floatingInput">Arrival time</label>
						</div>
						<div class="form-floating">
							<select class="form-control" id="tren" name="tren" required>
								<option th:each="tren : ${trenes}"
									th:value="${tren.numero_tren}" th:text="${tren.numero_tren}"></option>
							</select> <label for="floatingSelect">Train Assigned</label>
						</div>
						<div class="form-floating">
							<select class="form-control" id="estacion_salida"
								name="estacion_salida" required>
								<option th:each="estacion : ${estaciones}"
									th:value="${estacion.ID_estacion}" th:text="${estacion.nombre}"></option>
							</select> <label for="floatingSelect">Departure Station</label>
						</div>
						<div class="form-floating">
							<select class="form-control" id="estacion_llegada"
								name="estacion_llegada" required>
								<option th:each="estacion : ${estaciones}"
									th:value="${estacion.ID_estacion}" th:text="${estacion.nombre}"></option>
							</select> <label for="floatingSelect">Arrival Station</label>
						</div>
						<br>
						<button class="w-50 btn btn-lg btn-primary" type="submit"
							id="addHorarioButton">Send</button>
					</form>
				</div>
			</div>
		</section>
		<section class="tablas" id="modifyHorarios">
			<div class="container">
				<div class="row datos">
					<form name="modifyHorarios" method="post"
						th:action="@{/modifyHorarios}">
						<h1>Modify Schedule</h1>
						<input type="hidden" value="" id="idModifyHorario"
							name="idModifyHorario">
						<div class="form-floating">
							<input type="number" class="form-control" id="salida"
								name="salida" placeholder="20.00" required> <label
								for="floatingInput">Departure time</label>
						</div>
						<div class="form-floating">
							<input type="number" class="form-control" id="llegada"
								name="llegada" placeholder="21.00" required> <label
								for="floatingInput">Arrival time</label>
						</div>
						<div class="form-floating">
							<select class="form-control" id="tren" name="tren" required>
								<option th:each="tren : ${trenes}"
									th:value="${tren.numero_tren}" th:text="${tren.numero_tren}"></option>
							</select> <label for="floatingSelect">Train Assigned</label>
						</div>
						<div class="form-floating">
							<select class="form-control" id="estacion_salida"
								name="estacion_salida" required>
								<option th:each="estacion : ${estaciones}"
									th:value="${estacion.ID_estacion}" th:text="${estacion.nombre}"></option>
							</select> <label for="floatingSelect">Departure Station</label>
						</div>
						<div class="form-floating">
							<select class="form-control" id="estacion_llegada"
								name="estacion_llegada" required>
								<option th:each="estacion : ${estaciones}"
									th:value="${estacion.ID_estacion}" th:text="${estacion.nombre}"></option>
							</select> <label for="floatingSelect">Arrival Station</label>
						</div>
						<br>
						<button class="w-50 btn btn-lg btn-primary" type="submit"
							id="modifyHorarioButton">Edit</button>
					</form>
				</div>
			</div>
		</section>
		<div th:if="${message}" class="alert alert-success" role="alert"
			id="alerta">
			<span th:text="${message}"></span>
		</div>
		<script>
			setTimeout(function() {
				$('#alerta').fadeOut('slow');
			}, 5000); // 5000 milisegundos = 5 segundos
		</script>
	</main>
	<footer>
		<p>&copy; Railway Granada 2023</p>
	</footer>
</body>
</html>