<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/tickets.css">
<link rel="shorcut icon" type="/image/x-icon" href="/img/favicon.ico">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
	rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://kit.fontawesome.com/4fe01f8eed.js"
	crossorigin="anonymous"></script>
<script defer
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
	crossorigin="anonymous"></script>
<script src="/js/tickets.js" type="text/javascript"></script>
<title>Tickets</title>
</head>
<body>
	<header>
		<div
			class="d-flex flex-wrap align-items-center justify-content-between">
			<img class="logo" src="img/RailwayGranada_logo2.png" alt=""
				width="10%">
			<ul
				class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
				<li><a href="/" class="nav-link text-black"> <i
						class="fa-solid fa-house d-block mx-auto mb-1.5 fa-2x"></i> Home
				</a></li>
				<li><a href="/tickets" class="nav-link text-black"> <i
						class="fa-solid fa-train d-block mx-auto mb-1.5 fa-2x"></i>
						Tickets
				</a></li>
				<li><a href="/login_register" class="nav-link text-black">
						<i class="fa-solid fa-user d-block mx-auto mb-1.5 fa-2x"></i> User
				</a></li>
			</ul>
		</div>
	</header>
	<div class="hero">
		<h1>Buy your train tickets!</h1>
		<p>Search the best price for your tickets here</p>
		<a href="#form"><i class="fa-solid fa-arrow-down"></i></a>

	</div>
	<main>
		<div th:if="${mensajeError}" class="alert alert-danger" role="alert"
			id="alerta">
			<span th:text="${mensajeError}"></span>
		</div>
		<div th:if="${mensajeOK}" class="alert alert-success" role="alert"
			id="alerta">
			<span th:text="${mensajeOK}"></span>
		</div>
		<script>
			setTimeout(function() {
				$('#alerta').fadeOut('slow');
			}, 5000); // 5000 milisegundos = 5 segundos
		</script>
		<div id="form" class="formulario">
			<div class="container">
				<form action="#" th:action="@{/buscar}" method="post">
					<div class="row">
						<div class="col-6">
							<label for="origen" class="form-label">DEPARTURE STATION</label>
							<select id="origen" class="form-select" name="estacionSalida">
								<option value="" disabled selected hidden>Select your
									departure station</option>
								<option th:each="estacion : ${estaciones}"
									th:value="${estacion.ID_estacion}" th:text="${estacion.nombre}"></option>
							</select>
						</div>
						<div class="col-6">
							<label for="ida" class="form-label">OUTBOUND DATE</label> <input
								type="date" id="ida" class="form-control">
						</div>
					</div>
					<div class="row">
						<div class="col-6">
							<label for="destino" class="form-label">ARRIVAL STATION</label> <select
								id="destino" class="form-select" name="estacionLlegada">
								<option value="" disabled selected hidden>Select your
									departure station</option>
								<option th:each="estacion : ${estaciones}"
									th:value="${estacion.ID_estacion}" th:text="${estacion.nombre}"></option>
							</select>
						</div>
						<div class="col-6">
							<label for="vuelta" class="form-label">INBOUND DATE</label> <input
								type="date" id="vuelta" class="form-control">
						</div>
					</div>
					<div class="row">
						<div class="col-12 d-flex justify-content-center">
							<button type="submit" onclick="validar()"
								class="btn btn-primary mt-3">Search it</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</main>
	<section id="resultados">
		<div class="container">
			<div class="row">
				<div class="col-8">
					<div class="container" id="carta" th:each="horario : ${horarios}">
						<div class="row">
							<div class="col-10">
								<div class="row">
									<div class="col-10" id="numero-tren">
										<p th:text="'Train Nº '+${horario.tren}"></p>
									</div>
									<div class="col-2" id="iconos">
										<i class="fa-sharp fa-solid fa-suitcase-rolling"></i><i
											class="fa-solid fa-paw"></i>
									</div>
								</div>
								<div class="row">
									<div class="col-2" id="text-card">
										<p th:text="${horario.getEstacion_salida().getNombre()}"></p>
									</div>
									<div class="col-8"></div>
									<div class="col-2" id="text-card">
										<p th:text="${horario.getEstacion_llegada().getNombre()}"></p>
									</div>
								</div>
								<div class="row">
									<div class="col-12" id="hora">
										<p th:text="${horario.llegada-horario.salida+' hours'}"></p>
									</div>
								</div>
								<div class="row">
									<div class="col-2" id="hora-card">
										<p th:text="${horario.salida}"></p>
									</div>
									<div class="col-8" id="linea">
										<span class="divider"></span><i class="fa-solid fa-train"></i>
									</div>
									<div class="col-2" id="hora-card">
										<p th:text="${horario.llegada}"></p>
									</div>
								</div>
								<div class="row">
									<p class="cancel">You can cancel the ticket</p>
								</div>
							</div>
							<div class="col-2" id="buy">
								<p th:text="${precio}+'€'"></p>
								<form action="#" th:action="@{/calculoTicket}" method="post">
									<input type="hidden" id="precio" name="precio"
										th:value="${precio}" /> <input type="hidden" id="id_horario"
										name="id_horario" th:value="${horario.ID_horario}" />
									<button type="submit" class="btn btn-primary mt-3">
										See Journey <i class="fa-solid fa-magnifying-glass"></i>
									</button>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="col-4">
					<div class="container" id="trip"
						th:if="${not #lists.isEmpty(horarios1)}">
						<form action="#" th:action="@{/calculoFinal}" method="post">
							<div class="row" id="tuviaje">
								<p>Your Trip</p>
							</div>
							<div class="row" id="fecha-salida">
								<div class="col-6 negrita" id="text-izq">
									<p>Outbound date</p>
								</div>
								<div class="col-6 negrita" id="text-der">
									<p th:text="${fecha}"></p>
								</div>
							</div>
							<div class="row" id="hora-salida-llegada">
								<div class="col-12" id="text-der">
									<p
										th:text="${'Departure '+horarios1.salida+' - Arrival '+horarios1.llegada}"></p>
								</div>
							</div>
							<div class="row" id="salida-llegada">
								<div class="col-4" id="text-izq">
									<p th:text="${horarios1.getEstacion_salida().getNombre()}"></p>
								</div>
								<div class="col-4" id="arrow">
									<i class="fa-solid fa-arrow-right"></i>
								</div>
								<div class="col-4" id="text-der">
									<p th:text="${horarios1.getEstacion_llegada().getNombre()}"></p>
								</div>
							</div>
							<div class="row" id="total-individual">
								<div class="col-6" id="text-izq">
									<p>Total......................................................................</p>
								</div>
								<div class="col-6" id="text-der">
									<p th:text="${precio}+'€'"></p>
								</div>
							</div>
							<span class="divider"></span>
							<div class="row" id="fecha-llegada">
								<div class="col-6 negrita espaciado" id="text-izq">
									<p>Inbound date</p>
								</div>
								<div class="col-6 negrita espaciado" id="text-der">
									<p th:text="${fecha1}"></p>
								</div>
							</div>
							<div class="row" id="hora-salida-llegada">
								<div class="col-12" id="text-der">
									<p
										th:text="${'Departure '+horarios1.salida+' - Arrival '+horarios1.llegada}"></p>
								</div>
							</div>
							<div class="row" id="salida-llegada">
								<div class="col-4" id="text-izq">
									<p th:text="${horarios1.getEstacion_llegada().getNombre()}"></p>
								</div>
								<div class="col-4" id="arrow">
									<i class="fa-solid fa-arrow-right"></i>
								</div>
								<div class="col-4" id="text-der">
									<p th:text="${horarios1.getEstacion_salida().getNombre()}"></p>
								</div>
							</div>
							<div class="row" id="total-individual">
								<div class="col-6" id="text-izq">
									<p>Total......................................................................</p>
								</div>
								<div class="col-6" id="text-der">
									<p th:text="${precio}+'€'"></p>
								</div>
							</div>
							<span class="divider"></span>
							<div class="row" id="total">
								<div class="col-6 negrita" id="text-izq">
									<p>Total</p>
								</div>
								<div class="col-6 negrita" id="text-der">
									<p th:text="${precio*2}+'€'"></p>
								</div>
							</div>
							<div class="row">
								<input type="hidden" id="horario" name="id_horario"
									th:value="${horarios1.ID_horario}" /> <input type="hidden"
									id="precio" name="precio" th:value="${precio}" />
								<div class="col-12 boton">
									<button type="submit">Continue</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

	<footer>
		<p>&copy; Railway Granada 2023</p>
	</footer>

</body>
</html>